.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0; /* Cor de fundo cinza */
	padding: 20px; /* Espaçamento interno */
	border-radius: 8px; /* Bordas arredondadas */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
	max-width: 300px; /* Largura máxima do card */
	margin: 0 auto; /* Centralizar horizontalmente */
}

.logoContainer {
	margin-bottom: 20px;
}

.logo {
	width: 200px; /* Defina a largura desejada para a imagem do logo */
}

.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input {
	width: 275px; /* Defina a largura desejada para o input */
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc; /* Adicione uma borda padrão */
	border-radius: 4px;
	transition: border-color 0.3s;
}
.input:focus {
	border-color: #79c7d3; /* Defina a cor da borda quando o input está em foco */
	outline: none; /* Remova a borda padrão do navegador (efeito de destaque) */
}

.button {
	background-color: #80358a; /* Cor de fundo do botão */
	color: white; /* Cor do texto do botão */
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #6f2279; /* Cor de fundo do botão quando passar o mouse por cima */
}

.error {
	color: red;
}
